<main>
	<div class="projects agileits w3layouts">
		<div class="container">

			<div class="col-md-8 col-sm-8 projects-grid agileits w3layouts projects-grid1 wow slideInLeft">
				<!-- Slider2 -->
				<div class="slider-2 agileits w3layouts">
					<ul class="rslides agileits w3layouts" id="slider2">
						<li>
							<img src="images/project-1.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-2.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-3.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-4.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-5.jpg" alt="Agileits W3layouts"/>
						</li>
					</ul>
				</div>
				<!-- //Slider2 -->

				<!-- Slider3 -->
				<div class="slider-3 agileits w3layouts">
					<ul class="rslides agileits w3layouts" id="slider3">
						<li>
							<img src="images/project-6.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-7.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-8.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-9.jpg" alt="Agileits W3layouts"/>
						</li>
						<li>
							<img src="images/project-10.jpg" alt="Agileits W3layouts"/>
						</li>
					</ul>
				</div>
				<!-- //Slider3 -->
			</div>

			<div class="col-md-4 col-sm-4 projects-grid agileits w3layouts projects-grid2 wow slideInRight">
				<h1>Едно райско местенце..</h1>
				<h4>С НАЙ-ДОБРИТЕ ПЛАЖОВЕ</h4>
				<div class="h4-underline agileits w3layouts wow slideInLeft"></div>
				<p>Ако желаете да разгледате нашата галерия, натиснете на бутона "Виж Повече".</p>
				<a class="agileits w3layoutswow slideInLeft" th:href="@{/gallery}">ВИЖ ПОВЕЧЕ<span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
			</div>
			
		</div>
	</div>
</main>